// Checkboxes
$checkbox-radioactivecolor: rgba(225, 225, 225, 0.4);
$checkbox-radiocolor: rgba(240, 240, 240, 0.4);
$checkbox-borderradius: 0.4em;
$checkbox-width: 1.75em;
$checkbox-transition-duration: 0.5s;

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}

.checkboxWrapper {
    svg.check {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        fill: var(--checkbox);
        transition: all $checkbox-transition-duration ease;
        polyline {
            stroke: var(--checkbox);
        }
    }

    .inputCheckbox {
        width: $checkbox-width;
        height: $checkbox-width;
        position: relative;
        margin-top: 0.5em;
        transition:
            box-shadow $checkbox-transition-duration ease,
            background-color $checkbox-transition-duration ease;
        border-radius: var(--checkbox-border-radius);
        box-shadow: var(--checkbox-boxshadow-bevel);
        background-color: var(--checkbox-bg);
        &.checked {
            box-shadow: var(--checkbox-boxshadow-inset);
            background-color: var(--checkbox-bg-active);
            transition: all $checkbox-transition-duration ease;
            svg.check polyline {
                stroke: var(--checkbox-active);
            }
        }
    }

    label {
        display: block;
    }
    input[type="checkbox"] {
        width: 100%;
        height: 100%;
    }
}
