@use "../../../scss/variables/spacing.scss" as spacing;
$scalefactor: 0.5vw;
$iconsize: calc(#{$scalefactor} + 1.5em);

.itemlist {
    overflow: hidden;
    li {
        position: relative;
        background: var(--linklist-bg);
        border-radius: var(--linklist-border-radius);
        box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.05);
        padding: 0.125em;
        margin: 0.25em 0;
        transition: all 0.35s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: spacing.$padding-s;
        h4 {
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 300;
            color: var(--linklist);
            line-height: 1.2;
        }
        &.active,
        &:hover {
            transition: all 0.35s ease;
            background: var(--linklist-bg-active);
            h4 {
                color: var(--linklist-active);
            }
        }
        &.nomatch {
            padding: 0;
            background: transparent;
            box-shadow: none;
            cursor: default;
        }
    }
}
