@use "../../../scss/variables/spacing.scss" as spacing;
$scalefactor: 0.5vw;
$iconsize: calc(#{$scalefactor} + 1.5em);

.itemlist {
    overflow: hidden;
    li {
        position: relative;
        background: var(--linklist-bg);
        border-radius: var(--linklist-border-radius);
        box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.05);
        padding: 0.125em;
        margin: 0.25em 0;
        transition: all 0.35s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: spacing.$padding-s;
        .velo-icon {
            width: $iconsize;
            height: $iconsize;
            flex-shrink: 0;
            rect.bg {
                fill: var(--bike-inactive);
                transition: all 0.35s ease;
            }
        }
        h4.veloroute {
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 300;
            color: var(--linklist);
            line-height: 1.2;
        }
        // &:before {
        //     content: "";
        //     position: absolute;
        //     right: 0;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     border-bottom: 10px solid transparent;
        //     border-top: 10px solid transparent;
        //     border-left: 0em solid white;
        //     transition: all 0.35s ease;
        // }
        &.active,
        &:hover {
            transition: all 0.35s ease;
            background: var(--linklist-bg-active);
            h4.veloroute {
                color: var(--linklist-active);
            }

            .velo-icon {
                rect.bg {
                    fill: var(--bike-active);
                    transition: all 0.35s ease;
                }
            }
        }
        &.active {
            h4.veloroute {
                color: var(--linklist-active) !important;
            }
            &:before {
                width: 0;
                height: 0;
                right: -0.5em;
                border-top: 0.5em solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 0.5em solid var(--linklist-bg-active);
                transition: all 0.35s ease;
            }
        }
        &.nomatch {
            padding: 0;
            background: transparent;
            box-shadow: none;
            cursor: default;
        }
    }

    .stations {
        display: flex;
        font-size: 0.85em;
    }
}
