@use "../../../scss/variables/spacing.scss" as spacing;
@use "../../form/checkBox/checkbox.scss" as checkbox;

#zoompanel {
    position: absolute;
    z-index: 9;
    bottom: spacing.$mainpadding;
    left: spacing.$padding-l;
    button {
        cursor: pointer;
        color: var(--secondary);
        height: spacing.$padding-xl;
        width: spacing.$padding-xl;
        padding: 0;
        display: block;
        margin-bottom: spacing.$padding-xs;
        font-size: 1.25em;
        background: var(--dropdown-bg);
        border-radius: var(--border-radius);
        transition:
            all 0.2s ease,
            background-color 0.2s ease,
            color 0.5s ease;
        &:hover {
            background: var(--dropdown-bg-hover);
            color: var(--secondary-hover);
            transition:
                all 0.2s ease,
                background-color 0.2s ease,
                color 0.5s ease;
        }
    }
}

.theme-light {
    #zoompanel {
        button {
            @extend .checkBoxRadioNotActive;
            &:hover {
                box-shadow:
                    -1px -1px 1px rgba(255, 255, 255, 1),
                    inset 1px 1px 1px rgba(255, 255, 255, 0.9),
                    inset -1px -1px 1px rgba(0, 0, 0, 0.1),
                    1px 1px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
