.velorouteStop {
    position: relative;
    fill: var(--bike);
    transform: scale(1);
    &.hover {
        transform: scale(1.8);
    }
    &.active {
        fill: var(--bike-hover);
    }
}

.velorouteStopActive {
    fill: var(--bike-active);
}
.velorouteStopPin {
    fill: var(--bike-active);
}
