.velorouteStop {
    fill: var(--bike);
    transform: scale(1);
    &.hover {
        transform: scale(1.8);
    }
    &.active {
        fill: red; //var(--bike-hover);
    }
}

circle.velorouteStopOutline {
    stroke: var(--bike-hover);
    fill: var(--bg);
}
