@use "../../scss/variables/spacing.scss" as spacing;
@use "../../scss/variables/borders.scss" as borders;

#travelduration {
    position: relative;
    display: flex;
    flex-grow: 1;
    gap: spacing.$padding-xl;
    input {
        align-self: center;
    }
}

fieldset {
    border: none;
}
