@use "../../scss/variables/spacing.scss" as spacing;
@use "../../scss/variables/borders.scss" as borders;

.travelduration {
    position: relative;
    display: flex;
    flex-grow: 1;
    gap: spacing.$padding-xl;
    row-gap: 1em;
    line-height: 1;
    .travelTimeWrapper {
        flex-grow: 2;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}
