@import '../../variables.scss';

#travelduration {
    position: relative;
    display: flex;
    padding: 0 $padding-l;
    gap: $padding-xl;
    input {
        align-self: center;
    }
}

fieldset {
    border: none;
}




