/*
$radiobtn-height: 2em;
$radiobtn-width: 2.75em;
$radioTransitionSpeed: .35s;
$langSwitcherActiveBg: $xlightgray;
$langSwitcherBg: #e6e6e6;
$langSwitcherActiveColor: $primary;
$langSwitcherColor: #777777;
$langSwitcherDeg: 25deg;
$langSwitcherPerspective: 7em;
$langSwitcherTranslate: 3%;
$langSwitcherRadius: .5em;
$langSwitcherLabelTranslate: 40%;
$langSwitcherLabelScale: .95;
$langSwitcherBorderwidth: 4px;
$langSwitcherPadding: 0.5em;
$langSwitcherGap: 0.185em;
*/
/*
form#language-picker {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: $radiobtn-height;
    width: $radiobtn-width * 2;

    &:after {
        content: '';
        position: absolute;
        height: $radiobtn-height - $langSwitcherPadding  - $langSwitcherGap / 1.5;
        border-radius: 0.6em;
        background: rgba(136, 92, 92, 0.2);
        background: linear-gradient(0deg,#c7c7c7 0%,#f3f3f3 100%);
        position: absolute;
        right: $langSwitcherPadding - $langSwitcherGap;
        left: $langSwitcherPadding - $langSwitcherGap;
        top: $langSwitcherPadding - $langSwitcherGap;
        z-index: 0;
        box-shadow: 1px 1px 1px white, inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
}

fieldset {
    &.lang {
        display: flex;
        position: relative;
        perspective: 500px;
        height: 100%;
        width: 100%;
        z-index: 2;
        margin-bottom: 0;
        padding: $langSwitcherPadding;

        &:before {
            content: '';
            position: absolute;
            top: $langSwitcherPadding;
            left: 50%;
            height: $radiobtn-height - $langSwitcherPadding * 2;
            margin-top: 1%;
            width: 1px;
            z-index: 3;
            background-color: rgba(207, 207, 207, 0.5);
            //border-right: 1px solid rgba(250, 250, 250, 0.58);
        }
    }
}

.inputRadiowrapper {
    height: 100%;//$radiobtn-height;
    width: 50%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    background: $langSwitcherBg; 
    position: relative;
    z-index: 1;
    transition: all $radioTransitionSpeed ease;
    border-top: 1px solid white;

    &.active {
        background: $langSwitcherActiveBg; 
        transition: all $radioTransitionSpeed ease;
        z-index: 2;

        label {
            color: $langSwitcherActiveColor;
            transition: all $radioTransitionSpeed ease;
            text-shadow: 0 0 3px rgba(255,0,0,0.25), 1px 1px 0 white;
        }
    }
    &:first-child {
        //transform: translateX($langSwitcherTranslate) perspective($langSwitcherPerspective) rotateY($langSwitcherDeg) scale(1.05);
        border-radius: $langSwitcherRadius 0 0 $langSwitcherRadius;
        border-left: $langSwitcherBorderwidth solid white;
        box-shadow: -2px 1px 8px rgba(255,0,0,0.0);  

        label {
            left: 25%;
            //transform: translateY(-50%) translateX($langSwitcherLabelTranslate) scaleX($langSwitcherLabelScale) scaleY(1);
            transition: all $radioTransitionSpeed ease;
        }
        &.active{ 
            //transform: translateX(0) perspective(0) rotateY(0) scale(1);
            transition: all $radioTransitionSpeed ease;
            border-left: 0 solid white;
            box-shadow: -2px 0 4px rgba(255,0,0,0.6);  

            label {
                //left: 25%;
                //transform: translateY(-50%) translateX(0) scaleX(1) scaleY(1);
                transition: all $radioTransitionSpeed ease;
            }
        }
    }
    &:last-child {
        //transform: translateX(-$langSwitcherTranslate) perspective($langSwitcherPerspective) rotateY(-$langSwitcherDeg) scale(1.05);
        border-radius: 0 $langSwitcherRadius $langSwitcherRadius 0;
        border-right: $langSwitcherBorderwidth solid white;
        box-shadow: 2px 1px 5px rgba(255,0,0,0.0);  
       
        label {
            right: 25%;
            //transform: translateY(-50%) translateX(-$langSwitcherLabelTranslate) scaleX($langSwitcherLabelScale) scaleY(1);
        }
        &.active{ 
            //transform: translateX(0) perspective(0) rotateY(0) scale(1);
            transition: all $radioTransitionSpeed ease;    
            box-shadow: 2px 0 4px rgba(255,0,0,0.6);  
            border-right: 0 solid white;

            label {
                //right: 25%;
                //transform: translateY(-50%) translateX(0) scaleX(1) scaleY(1);
                transition: all $radioTransitionSpeed ease;
            }
        }
    }
    label {
        position: absolute;
        top: 20%;
        width: 50%;
        text-align: center;
        z-index: 3;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        color: $langSwitcherColor;
        font-size: .85rem;
        transition: all $radioTransitionSpeed ease;
        text-shadow: 0 0 3px rgba(255,0,0,0), 1px 1px 0 white;
    }
}

input[type="radio"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
}
*/
form#language-picker {

    --radiobtn-height: 2em;
    --radiobtn-width: 2.75em;
    --radioTransitionSpeed: .35s;
    --langSwitcherActiveBg: --xlightgray;
    --langSwitcherBg: #e6e6e6;
    --langSwitcherActiveColor: --primary;
    --langSwitcherColor: #777777;
    --langSwitcherDeg: 25deg;
    --langSwitcherPerspective: 7em;
    --langSwitcherTranslate: 3%;
    --langSwitcherRadius: .5em;
    --langSwitcherLabelTranslate: 40%;
    --langSwitcherLabelScale: .95;
    --langSwitcherBorderwidth: 4px;
    --langSwitcherPadding: 0.5em;
    --langSwitcherGap: 0.185em;

    display: flex;
    justify-content: flex-end;
    position: relative;
    height: var(--radiobtn-height);
    width: var(--radiobtn-width * 2);
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: var(--radiobtn-height);
    width: var(--radiobtn-width * 2);
}
form#language-picker:after {
    content: '';
    position: absolute;
    height: var(--radiobtn-height) - var(--langSwitcherPadding)  - var(--langSwitcherGap) / 1.5;
    border-radius: 0.6em;
    background: rgba(136, 92, 92, 0.2);
    background: linear-gradient(0deg,#c7c7c7 0%,#f3f3f3 100%);
    position: absolute;
    right: var(--langSwitcherPadding) - var(--langSwitcherGap);
    left: var(--langSwitcherPadding) - var(--langSwitcherGap);
    top: var(--langSwitcherPadding) - var(--langSwitcherGap);
    z-index: 0;
    box-shadow: 1px 1px 1px white, inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

fieldset.lang {
    display: flex;
    position: relative;
    perspective: 500px;
    height: 100%;
    width: 100%;
    z-index: 2;
    margin-bottom: 0;
    padding: var(--langSwitcherPadding);
}
fieldset.lang:before {
    content: '';
    position: absolute;
    top: var(--langSwitcherPadding);
    left: 50%;
    height: var(--radiobtn-height) - var(--langSwitcherPadding) * 2;
    margin-top: 1%;
    width: 1px;
    z-index: 3;
    background-color: rgba(207, 207, 207, 0.5);
}
.inputRadiowrapper {
    height: 100%;
    width: 50%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    background: var(--langSwitcherBg); 
    position: relative;
    z-index: 1;
    transition: all var(--radioTransitionSpeed) ease;
    border-top: 1px solid white;
}
.inputRadiowrapper.active {
    background: var(--langSwitcherActiveBg); 
    transition: all var(--radioTransitionSpeed) ease;
    z-index: 2;
}
.inputRadiowrapper.active label {
    color: var(--langSwitcherActiveColor);
    transition: all var(--radioTransitionSpeed) ease;
    text-shadow: 0 0 3px rgba(255,0,0,0.25), 1px 1px 0 white;
}
    
.inputRadiowrapper:first-child {
    border-radius: var(--langSwitcherRadius) 0 0 var(--langSwitcherRadius);
    border-left: var(--langSwitcherBorderwidth) solid white;
    box-shadow: -2px 1px 8px rgba(255,0,0,0.0);  
}
.inputRadiowrapper:first-child label {
    left: 25%;
    transition: all var(--radioTransitionSpeed) ease;
}
.inputRadiowrapper:first-child.active{ 
    transition: all var(--radioTransitionSpeed) ease;
    border-left: 0 solid white;
    box-shadow: -2px 0 4px rgba(255,0,0,0.6);  
}
.inputRadiowrapper:first-child.active label {
    transition: all var(--radioTransitionSpeed) ease;
}
        
.inputRadiowrapper:last-child {
    border-radius: 0 var(--langSwitcherRadius) var(--langSwitcherRadius) 0;
    border-right: var(--langSwitcherBorderwidth) solid white;
    box-shadow: 2px 1px 5px rgba(255,0,0,0.0);  
}      
.inputRadiowrapper:last-child label {
    right: 25%;
}
.inputRadiowrapper:last-child.active{ 
    transition: all var(--radioTransitionSpeed) ease;    
    box-shadow: 2px 0 4px rgba(255,0,0,0.6);  
    border-right: 0 solid white;
}
.inputRadiowrapper:last-child.active label {
    transition: all var(--radioTransitionSpeed) ease;
}
        
form#language-picker label {
    position: absolute;
    top: 20%;
    width: 50%;
    text-align: center;
    z-index: 3;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: var(--langSwitcherColor);
    font-size: .85rem;
    transition: all var(--radioTransitionSpeed) ease;
    text-shadow: 0 0 3px rgba(255,0,0,0), 1px 1px 0 white;
}

form#language-picker input[type="radio"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
}
