@import '../../../variables.scss';
@import '../checkBox/checkbox.scss';
@import '../../stateless/button/button.scss';

$radiobtn-height: 2.2em;
$radiobtn-width: 2.2em;
$radioTransitionSpeed: .35s;
$langSwitcherPadding: 0.4em;
$langSwitcherBorderRadius: 2em;

form#language-picker {
    pointer-events: all;
    border-radius: $langSwitcherBorderRadius;
    align-self: flex-start;
    padding: 0.15em;
    background-color: #fefefe;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 5px 8px 15px rgba(0,0,0,0.1), -5px -3px 15px white;
}
form#language-picker fieldset {
    display: flex;
    border-radius: $langSwitcherBorderRadius;
    position: relative;
    height: $radiobtn-height;
    
    &:after,
    &:before {
        content: '';
        display: table;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: $langSwitcherBorderRadius;
        transition: all .5s ease;
    }
    &:after {
        background: linear-gradient(90deg, #cecece 0%, white 70%);
    }
    &:before {
        z-index: 2;
    }
    .inputRadiowrapper{
        label{
            transition: all .5s ease;
        }
    }
    
    &.en {
        &:after {
            box-shadow: 1px 1px 1px white, inset 1px 1px 2px white, -1px -1px 2px rgba(0,0,0,0.15), inset 6px 0px 1px rgba(255,255,255,0.9),  inset -1px -1px 2px rgba(0,0,0,0.2), inset 1px 0px 8px rgba(0,0,0,0.05);
        }
        &:before {
            background: rgba(255,255,255,0);
        }
        .inputRadiowrapper:first-child{
            label{
                transform: translate(0%, -50%);
            }
        }
        .inputRadiowrapper:nth-child(2){
            label{
                color: $primary;
                transform: translate(-50%, -50%);
            }
        }
    }
    &.de {
        &:after {
            box-shadow: 1px 1px 1px white, inset 1px 1px 2px white, -1px -1px 2px rgba(0,0,0,0.15), inset -6px 0px 1px rgba(0,0,0,0.2), inset -1px -1px 2px rgba(0,0,0,0.2), inset -1px 1px 8px rgba(0,0,0,0.05);
        }
        &:before {
            background: rgba(255,255,255,0.35);
        }
        .inputRadiowrapper:first-child{
            label{
                color: $primary;
                transform: translate(-40%, -50%);
            }
        }
        .inputRadiowrapper:nth-child(2){
            label {
                transform: translate(-100%, -50%);
            }
        }
    }
}

.inputRadiowrapper {
    position: relative;
    z-index: 2;
    transition: all $transition-duration ease;
    width: $radiobtn-width;
    height: $radiobtn-width;

    label {
        position: absolute;
        top: 50%;
        left: 50%;
        text-shadow: none;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-size: .75em;
        cursor: pointer;
        color: rgb(195, 195, 195);
        text-shadow: 1px 1px 1px white;
        transition: all .5s ease;
    }
}

input[type="radio"],
input[type="checkbox"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: $padding-xs;
    font-weight: 600;
    color: $gray;
    font-size: .8rem;
    height: 100%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: $checkBoxBorderradius;
}

