@import '../../../variables.scss';

$radiobtn-height: 2em;
$radiobtn-width: 3em;
$radioTransitionSpeed: .35s;
$langSwitcherActiveColor: rgba(180, 180, 180, 0.4);
$langSwitcherColor: rgba(250,250,250,0.2);
$langSwitcherPadding: 0.5em;
$langBorderradius: .4em;

form#language-picker fieldset {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0;
    box-shadow: 2px 2px 5em rgba(0, 0, 0, 0.2);
    border-radius: $langBorderradius;
}   
.inputRadiowrapper {
    position: relative;
    z-index: 1;
    height: $radiobtn-height;
    background-color: $langSwitcherColor;
    box-shadow: inset -1px -1px 2px rgba(0,0,0,0.15), 1px 1px 0 rgba(255,255,255,0.5), -1px -1px 1px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255,255,255,0.8);
    transition: box-shadow .4s ease, background-color .4s ease;
    &.active {
        height: calc(2em + 2px);
        margin-top: -1px;
        z-index: 2;
        background-color: $langSwitcherActiveColor;
        box-shadow: inset -1px -1px 1px rgba(255,255,255,0.9), inset 2px 2px 8px rgba(0, 0, 0, 0.2);
        label {
            color: $primary;
        }
    }
    label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: none;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-size: .75em;
        cursor: pointer;
        color: $lightgray;
        z-index: 1;
        font-family: $font-family-display;
    }
    
    &:first-child{
        border-radius: $langBorderradius 0 0 $langBorderradius;
    }
    &:last-child{
        &:not(.active){
            box-shadow: inset -1px -1px 2px rgba(0,0,0,0.15), 1px 1px 0 rgba(255,255,255,0.5), -1px -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255,255,255,0.8);
        }
        border-radius: 0 $langBorderradius $langBorderradius 0;
    }
}

input[type="radio"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: $padding-xs $padding-s;
    font-weight: 600;
    color: $gray;
    font-size: .8rem;
    width: $radiobtn-width;
    height: 100%;
    cursor: pointer;
}

