.tabs {
    width: 100%;
    nav {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            gap: 0.5em;
            li {
                list-style-type: none;
            }
        }
    }
}
