@import "../../scss/variables.scss";
@import "../../scss/mixins/caret.scss";

$sidebarwidth: 15em;
$transition: width 0.5s ease;

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    height: 100%;
    overflow: hidden;
}
#container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    transition: $transition;
    &[class*="width-"] {
        transition: $transition;
    }
}
main {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#map-wrapper {
    flex-grow: 1;
    position: relative;
}
aside {
    z-index: 10;
    pointer-events: none;
    position: relative;
    display: flex;
    width: $sidebarwidth;
}
.instructions {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    &:before {
        content: "";
        position: absolute;
        bottom: -0.75em;
        left: 50%;
        transform: translateX(-50%);
        @include caret();
    }
}
