@import '../../variables.scss';

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    height: 100%;
    overflow: hidden;
}
#container {
    width: 150vw;
    position: relative;
    display: flex;
    justify-content: right;
    flex-grow: 1;
    transition: width .5s ease;
    &[class*='width-'] {
        transition: width .5s ease;
    }
    &.width-1 {width: 100vw}
    &.width-2 {width: 125vw}
    &.width-3 {width: 150vw}
    @media (min-width: $breakpoint-l) {
        &.width-1 {width: 100vw}
        &.width-2 {width: 120vw}
        &.width-3 {width: 140vw}
    }
}
main {
    position: relative;
    flex-grow: 1;
    order: 1;
    display: flex;
    flex-direction: column;
}
#map-wrapper {
    flex-grow: 1;
    position: relative;
}
aside {
    z-index: 10;
    order: 2;
    pointer-events: none;
    position: relative;
    display: flex;
}
.instructions {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    &:before {
        content:'';
        position: absolute;
        bottom: -0.75em;
        left: 50%;
        transform: translateX(-50%);
        width: 0; 
        height: 0; 
        border-left: .5em solid transparent;
        border-right: .5em solid transparent;
        border-top: .5em solid $primary;
    }
}