@import '../../../scss/variables.scss';

/* Range Slider */

$slider-height: 6px;
$sliderborder-width: 8px;
$sliderthumb-height: 22px;

.range-slider {
  flex-grow: 1;
  > div {
    position: relative;
    margin-top: 1em;
    //border-top: 1px solid $lightgray;
    &::after{
      //content: '';
      position: absolute;
      left: -.5em;
      top: -.75em;
      height: 1.5em;
      right: -.5em;
      background-color: black;
      opacity: .1;
      border-radius: .3em;
    }
  }
}

input[type="range"] {
    position: relative;
    z-index: 1;
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: $slider-height;
    background-color: #dbdbdb;
    box-shadow: 1px 1px 0 white, inset 2px 2px 4px rgba(0, 0, 0, 0.35);
    border-radius: $slider-height / 2;
    background-image: linear-gradient($primary, $primary);
    margin-top: -4px;
    background-repeat: no-repeat;

    &:disabled{
      cursor: default;
      &::-webkit-slider-thumb {
        background-color: $xlightgray;
        cursor: default;
        height: $sliderthumb-height / 2;
        width: $sliderthumb-height / 2;
        margin-top: -($sliderthumb-height - $slider-height) / 4;
        transition: width .35s ease, height .35s ease, background-color .35s ease;
      }
      &::-moz-range-thumb {
        background-color: $xlightgray;
        cursor: default;
        height: $sliderthumb-height / 2;
        width: $sliderthumb-height / 2;
        margin-top: -($sliderthumb-height - $slider-height) / 4;
        transition: width .35s ease, height .35s ease, background-color .35s ease;
      }
    }

    &::-webkit-slider-thumb
    {
      box-sizing: border-box;
      -webkit-appearance: none;
      height: $sliderthumb-height;
      width: $sliderthumb-height;
      border-radius: 50%;
      background: $primary;
      border: $sliderborder-width solid $xlightgray;
      cursor: pointer;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
      transition: background-color .3s ease-in-out;
      margin-top: -($sliderthumb-height - $slider-height) / 2;
      transition: width .35s ease, height .35s ease, background-color .35s ease;
      }
    &::-moz-range-thumb
    {
        box-sizing: border-box;
        -webkit-appearance: none;
        height: $sliderthumb-height;
        width: $sliderthumb-height;
        border-radius: 50%;
        background: $primary;
        border: $sliderborder-width solid white;
        cursor: pointer;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
        transition: background-color .3s ease-in-out;
        margin-top: -($sliderthumb-height - $slider-height) / 2;
        transition: width .35s ease, height .35s ease, background-color .35s ease;
      }
      
      &::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
        height: $slider-height;
        border-radius: $slider-height / 2;
      }
  }
  .rangeInputWrapper {
    margin-top: 1.15em;
    @media (max-height: $breakpoint-s-max), (max-width: $breakpoint-s-max) {
      display: none;
    }
  }
  ul.steps {
    display: flex;
    padding: 0 $sliderthumb-height/2;

    li {
      flex-basis: 0px;
      position: relative;
      list-style-type: none;
      font-size: 0.65em;
      flex-grow: 1;
      color: $gray;
      text-align: center;
      span {
        display: inline-block;
        width: 100%;
        transform: translateX(-50%);
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -5px;
        height: 5px;
        width: 1px;
        background-color: $gray;
      }
      &:last-child{
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: -5px;
          height: 5px;
          width: 1px;
          background-color: $gray;
        }
        .end {
          position: absolute;
        }
      }
    }
  }