@import '../../../scss/variables.scss';

#header {
    width: 100%;
    padding: $padding-l $padding-l;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    pointer-events: none;
}
#logo {
    background-image: url('../../../assets/images/bahnundbike_logo.svg');
    width: calc( 7.5em + 1.5vw );
    height: 3em;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: all;
}
.home {
    #header {
        #language-picker {
            left: 50%;
            transform: translate(-50%, 1em);
            position: absolute;
            width: auto;
        }
    }
}