@use "../../../scss/variables/spacing.scss" as spacing;
@use "../../../scss/variables/breakpoints.scss" as breakpoints;

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    @media screen and (max-width: breakpoints.$breakpoint-m-max) {
        flex-wrap: wrap;
        gap: spacing.$padding-s;
    }
}
