@use "../../../scss/variables/spacing.scss" as spacing;

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    pointer-events: none;
}
.home {
    #header {
        #language-picker {
            left: 50%;
            transform: translate(-50%, 1em);
            position: absolute;
            width: auto;
        }
    }
}
