@use "../../scss/variables/breakpoints.scss" as breakpoints;
@use "../../scss/variables/spacing.scss" as spacing;
@use "../../scss/variables/colors.scss" as colors;

.details {
    color: var(--text);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--train-headline);
    }
    .veloroute-section-details {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--bike);
        }
    }
}
.details {
    width: 25vw;
    @media (min-width: breakpoints.$breakpoint-l) {
        width: 20vw;
    }
    pointer-events: all;
    .details-headline {
        display: flex;
        gap: 0.15em;
    }
    h5 + p {
        margin-top: -0.5em;
    }
    position: relative;
    padding: 0 spacing.$padding-l;
    .devider {
        margin-left: 2px;
        color: #999;
    }

    .icon {
        width: 22px;
        height: 22px;
        padding: 3px;
        background: colors.$background-dark;
        border-radius: 3px;
        margin-right: 5px;
        img {
            vertical-align: top;
        }
    }
}
