@import '../../../variables.scss';

$strokeAniDuration: .35s;
$maxspotscale: 2.5;
$midspotscale: 1.5;
$transitionSpeed: .35s;


@keyframes circleHoverAni {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    40% {
        opacity: .5;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

svg#routes{
    position: relative;
    z-index: 2;
    polyline,
    circle,
    g{
        cursor: pointer;
    }

    .routegroup{
        polyline.route{
            fill: none;
            stroke: $primary;
            transition: all .5s ease;
            animation: strokeAni 1s linear forwards;
            animation-delay: 1s;
            opacity: 1;
        }
        polyline.route-bg {
            fill: none;
            stroke: transparent;
        }
        &.active {
            .route {
                stroke: $primary-hover;
                transition: all .5s ease;
            }
        }
        &.inactive {
            .route-bg{
                stroke: #fff;
                opacity: .8;
                fill: none;
            }
            .route {
                transition: all .5s ease;
                opacity: 1;
                stroke: $primary-muted;
                fill: none;
            }
        }
        &:hover {
            .route {
                stroke: $primary-hover;
            }
        }
    }
    
    .spot{
        fill: $primary;
        transition: transform .35s ease, fill .35s ease;
        &.spot-large{
            transition: all .35s ease, fill .35s ease;
            opacity: 0;
            transform: scale(1);
        }
        &.spot-small{
            transform: scale(0);
        }
    }
    .spot-bg {
        fill: transparent;
    }
    .spotgroup {
        &.hover:not(.active) {
            .spot {
                transition: transform .35s ease, fill .35s ease; 
                &.spot-large{
                    opacity: 0;
                    animation: circleHoverAni .5s ease-in-out forwards;
                }
                &.spot-small{
                    transform: scale(1.2);
                    fill: $primary-hover;
                }
            }
        }
        &.active,
        &.active.veloroutestop {
            .spot {
                transition: transform .35s ease, fill .35s ease; 
                &.spot-small{
                    transform: scale(1.1)!important;
                    fill: $primary-hover;
                }
                &.spot-large{
                    transition: all .35s ease, fill .35s ease;
                    transform: scale(3)!important;
                    fill: $primary-hover;
                    opacity: .15;
                }
            }
        }
        &.inactive {
            .spot {
                transition: transform .35s ease, fill .35s ease; 
                &.spot-small{
                    transform: scale(0.8)!important;
                    fill: $primary-muted;
                }
            }
            &.velosectionstop,
            &:hover {
                .spot {
                    transition: transform .35s ease, fill .35s ease; 
                    &.spot-small{
                        transform: scale(1)!important;
                        fill: $primary;
                    }
                }
            }
        }
        &.veloroutestop {
            .spot {
                transition: transform .35s ease, fill .35s ease; 
                &.spot-small{
                    transform: scale(1)!important;
                    fill: $primary;
                }
            }
        }
        &.sectionstop {
            .spot {
                transition: transform .35s ease, fill .35s ease; 
                &.spot-small{
                    transition: all .35s ease, fill .35s ease; 
                    transform: scale(1)!important;
                    fill: $primary-hover;
                }
            }
        }
    }
}
.destinationLabel {
    white-space: nowrap;
    padding: 2px;
    letter-spacing: 0.025em;
    line-height: 1;
    color: $primary;
    transition: opacity .5s ease, color .5s ease;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    z-index: 7;
    tspan{
        fill: $primary;
        text-shadow: 1px 1px 0 #F2F2F2, -1px -1px 0 #F2F2F2;
        filter: drop-shadow(2px 0 1px #F2F2F2)
    }    
}
g.destination.active {
    .destinationLabel tspan{
        fill: $primary-hover;
    }
}