@use "../../../scss/variables/spacing.scss" as spacing;
@use "../../../scss/mixins/caret.scss" as caret;

// .caret {
//     width: 0;
//     height: 0;
//     border-left: .35em solid transparent;
//     border-right: .35em solid transparent;
//     border-top: .35em solid var(--bike);
// }
.collapse {
    .toggle {
        cursor: pointer;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            margin-left: spacing.$padding-xs;
            @include caret.caret(var(--bike));
            top: 50%;
        }
        &.on {
            &:after {
                transform: translateY(-50%) rotate(0deg);
            }
        }
        &.off {
            &:after {
                transform: translateY(-50%) rotate(270deg);
            }
        }
    }
    .toggle-container {
        overflow: hidden;
        &.off {
            height: 0;
        }
    }
}
