@use "../../../scss/variables/spacing.scss" as spacing;
@use "../../../scss/mixins/caret.scss" as caret;

.collapse {
    .toggle {
        cursor: pointer;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            margin-left: spacing.$padding-xs;
            @include caret.caret();
            top: 50%;
        }
        &.on {
            &:after {
                transform: translateY(-50%) rotate(0deg);
            }
        }
        &.off {
            &:after {
                transform: translateY(-50%) rotate(270deg);
            }
        }
    }
    .toggleContainer {
        overflow: hidden;
        &.off {
            height: 0;
        }
    }
}
