@use "../../../scss/mixins/caret.scss" as caret;
@use "../../../scss/variables/spacing.scss" as spacing;
@use "../../../scss/variables/fonts.scss" as fonts;
@use "../../../scss/variables/borders.scss" as borders;

.tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;

    .tooltipText {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 50%;
        bottom: calc(100% + 0.5em);
        transform: translateX(-50%);
        background: var(--bg);
        color: var(--text);
        font-size: 80%;
        text-transform: none;
        font-family: fonts.$global-font-family;
        font-weight: 400;
        padding: spacing.$padding-xs;
        border-radius: borders.$borderradius-xs;
        line-height: 1.1;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            @include caret.caret(var(--bg));
        }
    }
    &:hover .tooltipText,
    &:focus-visible .tooltipText,
    &:focus-within .tooltipText {
        visibility: visible;
        opacity: 1;
    }
}
