#veloroute.details {
    color: var(--text);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--bike);
    }
    .veloroute-section-details {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--bike);
        }
    }
}
.veloroute-details {
    margin-bottom: 0.5em;
    h4 {
        margin: 0.5em 0;
    }
    &:last-child {
        margin-bottom: 1.5em;
    }
}
ol.veloroute-stops,
ul.veloroute-stops {
    padding-left: 1.5em;
    span {
        cursor: pointer;
        &.active,
        &:hover,
        &.hover {
            text-decoration: underline;
            color: var(--bike-hover);
        }
    }
}
ul.veloroute-stops {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.veloroute-trainstops {
    padding: 0;
    display: flex;

    span.train {
        transform: scale(0.85);
        margin: 0 1px 1px 0;
        &:first-child {
            margin-left: 0.75em;
        }
    }
}
