@use "../../../scss/variables/spacing.scss" as spacing;
.panelWrapper {
    display: flex;
    gap: spacing.$padding-s;
    padding: spacing.$padding-s spacing.$padding-m;
    position: relative;
    height: 100%;
    &.row {
        flex-direction: row;
    }
    &.column {
        flex-direction: column;
    }
    background: var(--bg-light);
    transition: all 0.25s ease;
    border-radius: var(--panel-border-radius);
    box-shadow: var(--box-shadow);
}
