@use "sass:math";
@use "../../../scss/variables/fonts.scss" as fonts;

$buttonsize: 0.85;

button,
input[type="submit"],
.button {
    appearance: none;
    -webkit-appearance: none;
    border: 0 solid transparent;
    cursor: pointer;
    background-color: transparent;
    span {
        font-family: "Oswald", sans-serif;
        letter-spacing: fonts.$letterspacing;
        text-transform: uppercase;
        color: var(--secondary);
        font-weight: 700;
        font-size: ($buttonsize + $buttonsize * 0.5) * 0.75em;
        line-height: 1.5;
        transition: all 0.35s ease;
        display: inline-block;
        opacity: 0.75;
    }
    &:hover,
    &.active {
        span {
            transition: all 0.35s ease;
            color: var(--secondary-hover);
            opacity: 1;
        }
    }
    &:disabled {
        cursor: default;
        span {
            color: var(--text-inactive);
            opacity: 0.5;
        }
    }
}
.active {
    button,
    input[type="submit"],
    .button {
        span {
            transition: all 0.35s ease;
            color: var(--secondary-hover);
            opacity: 1;
        }
    }
}

.button-primary {
    align-self: center;
    display: inline-block;
    position: relative;
    padding: $buttonsize * 0.65em $buttonsize * 0.75em;
    background-color: transparent;
    border-radius: var(--border-radius-xl);
    transition: all 0.3s ease;
    span {
        background: var(--button-bg);
        padding: calc((0.5vw * $buttonsize) + (0.5em * $buttonsize))
            calc((0.5vw * $buttonsize) + (1.25em * $buttonsize));
        border-radius: var(--border-radius-xl);
    }
    &:hover:not(:disabled) {
        span {
            box-shadow:
                -1px -1px 5px rgba(0, 0, 0, 0.5),
                inset 1px 1px 6px rgba(0, 0, 0, 0.15),
                inset -1px -1px 2px rgba(255, 255, 255, 0.35);
            background: var(--button-bg-hover);
        }
    }
}

.theme-light {
    .button-primary {
        box-shadow:
            -10px -10px 20px white,
            inset 5px 5px 7px rgba(255, 255, 255, 0.75),
            inset -1px -1px 8px rgba(0, 0, 0, 0.1),
            10px 10px 10px rgba(0, 0, 0, 0.065),
            -1px -1px 1em rgba(0, 0, 0, 0.1);

        &:after {
            content: "";
            display: table;
            box-shadow:
                -1px -1px 3px rgba(0, 0, 0, 0.15),
                inset 1px 1px 1px rgba(0, 0, 0, 0.15),
                inset -1px -1px 1px white,
                1px 1px 3px white;
            transition: all 0.3s ease;
            text-decoration: none;
            color: var(--primary-hover);
            position: absolute;
            left: $buttonsize * 0.5em;
            top: $buttonsize * 0.5em;
            width: calc(100% - #{$buttonsize * 1.15em});
            height: calc(100% - #{$buttonsize * 1em});
            border-radius: var(--border-radius-xl);
        }

        span {
            text-shadow: 1px 1px 0 white;
            box-shadow:
                -1px -1px 3px rgba(255, 255, 255, 0.9),
                inset 1px 1px 2px rgba(255, 255, 255, 0.85),
                inset -1px -1px 2px rgba(0, 0, 0, 0.35);
        }

        &:hover:not(:disabled) {
            span {
                box-shadow:
                    -1px -1px 5px rgba(0, 0, 0, 0.5),
                    inset 1px 1px 6px rgba(0, 0, 0, 0.15),
                    inset -1px -1px 2px rgba(255, 255, 255, 0.35);
                background: rgb(2, 0, 36);
                background: var(--button-bg-hover);
            }
        }
    }
}
