.closeButton {
    width: 2em;
    height: 2em;
    padding: 0.4em;
    margin-left: auto;
    touch-action: manipulation;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 44px;
        min-height: 44px;
    }
}
