@import '../../../scss/variables.scss';

#germany {
    //background-image: url('../../../assets/images/germany_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
        width: 100%;
    }
    #germany-map {
        * {
            fill: var(--map-fill);
        }
    }
}