@import '../../../variables.scss';

.veloroute {
    path,
    circle,
    g {
        cursor: pointer;
    }
    .veloroute-stop{
        fill: $veloroute;
        transform: scale(1);
        &.hover {
            transform: scale(1.5);
        }
    }
    path.veloroute-section {
        stroke: $veloroute;
        stroke-dasharray: 2;
        fill: none;
        &.active {
            stroke-dasharray: 0;
            stroke: $veloroute-hover;
        }
    }
    path.crossing-veloroute-section {
        stroke: $lightgray;
        stroke-dasharray: 2;
        fill: none;
        &.active {
            stroke-dasharray: 0;
            stroke: $veloroute-hover;
        }
    }
    path.veloroute-section-large {
        stroke: transparent;
        fill: none;
    }
    circle.veloroute-station {
        stroke: $veloroute;
        fill: rgba(255,255,255,0.66);
    }
}
.veloroute-details {
    display: block;
    padding: 0;
    .veloroute-stops{
        font-size: 80%;
    }
}
.veloroute.destinationLabel{
    tspan {
        fill: $veloroute; 
    }
}
