@use "../../../scss/variables/colors.scss" as colors;

.veloroute {
    path,
    polyline,
    circle,
    g {
        cursor: pointer;
        &:hover {
            path.velorouteSection {
                opacity: 1;
                stroke: var(--bike);
                &.current {
                    stroke-dasharray: 0;
                }
            }
        }
    }
    path.velorouteSection,
    polyline.velorouteSection {
        stroke-dasharray: 1;
        fill: none;
        stroke: var(--bike);
        &.current,
        &.hover,
        &.active {
            stroke: var(--bike);
        }
        &.active {
            stroke-dasharray: 0;
        }
        &.preview {
            stroke: var(--bike-inactive);
        }
    }
}
.velorouteSectionLarge {
    fill: none;
    stroke: var(--bike);
    opacity: 0.1;
}
.connectionLine {
    stroke: var(--bike);
    fill: none;
}
.connectionDot {
    fill: var(--train-active);
}
