@use "./scss/variables/colors.scss";

.App {
    width: 100%;
    height: 100%;
    background: colors.$background-dark;
    background: linear-gradient(
        160deg,
        colors.$background 20%,
        colors.$background-dark 80%
    );
    background: var(--bg);
    color: var(--text);
}
