@use "sass:math";
@use "./scss/variables/spacing.scss" as spacing;
@use "./scss/variables/fonts.scss" as fonts;
@use "./scss/variables/breakpoints.scss" as breakpoints;
@use "./scss/variables/borders.scss" as borders;
@import "./scss/css-variables";
@import "./webfonts.css";

html {
    font-size: 16px;
    @media (min-width: breakpoints.$breakpoint-xl) {
        font-size: 18px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root {
    width: 100%;
    height: 100%;
}
body {
    font-family: fonts.$global-font-family;
    font-size: fonts.$global-font-size;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fonts.$base-heading-font-family;
}

h1,
h2,
h3 {
    line-height: 1.3;
}

h2,
h3 {
    font-size: fonts.$h2-font-size;
    margin-bottom: 0.33em;
    color: var(--text);
    font-family: fonts.$global-font-family;
    font-weight: 400;
}

h3 {
    font-size: fonts.$h3-font-size;
    margin-bottom: 0;
}

h5 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: fonts.$letterspacing;
    color: var(--text);
    font-size: fonts.$h5-font-size;
    margin-bottom: 0.75em;
    margin-top: 1em;
}

h6 {
    font-size: fonts.$h6-font-size;
    color: var(--text);
    margin-top: 0.75em;
}

label {
    font-family: fonts.$base-heading-font-family;
    font-size: 75%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: fonts.$letterspacing;
    color: var(--label);
}

header {
    margin-bottom: spacing.$padding-xs;
}
.section {
    margin-bottom: spacing.$mainpadding;
    p {
        margin-top: -0.3rem;
        font-size: 1rem;
    }
    &.d-flex {
        display: flex;
    }
    ul li {
        list-style-type: none;
        list-style-type: none;
    }
}

a {
    color: var(--text);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.margintop {
    margin-top: 2em;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

span.train {
    display: inline-block;
    background-color: var(--bg-light);
    border-radius: math.div(borders.$borderradius, 2);
    padding: 1px 3px;
    font-family: fonts.$global-font-family;
    font-weight: 700;
    color: var(--train-headline);
    font-size: 0.75rem;
    margin: 0 5px 0 0;
    vertical-align: top;
    white-space: nowrap;
    &.connection {
        background-color: transparent;
        padding: 2px 0;
    }
}
.train-connection {
    white-space: nowrap;
}
