$veloroute: #007377;//#977517;
$veloroute-hover: #0f4749;//#a78d49;
$background: #ffffff;//#33363A;//
$background-dark: #eeeeee;//#0E1013;//
$xlightgray: #ededed;
$lightgray: #999;
$gray: #666;
$darkgray: #333;
$primary: red;
$primary-hover: #4a366a;
$primary-muted: rgb(194, 191, 195);//#501414;
$primary-hover-muted: pink;

$boxshadow: 8px 8px 8px rgba(0,0,0,0.3);

$sidebarwidth: 22.5em;

$scalefactor: .5vw;

// SIZING
$borderradius: .5em;
$mainpadding: calc(#{$scalefactor} + 0.5em);
$padding-xxl: calc( #{$scalefactor} + 2.5em);
$padding-xl: calc( #{$scalefactor} + 1.5em);
$padding-l: calc( #{$scalefactor} + 1em);
$padding-s: calc( #{$scalefactor} + 0.25em);
$padding-xs: calc( #{$scalefactor} + 0.1em);


// FONT SIZES
$font-family-sans-serif:                         'Source Sans Pro', sans-serif;
$font-family-display:                            'Oswald', sans-serif;
$global-font-family:                             $font-family-sans-serif;
$base-heading-font-family:                       $font-family-display;

$base-line-height:                               1.5;

$base-font-size:                                 1em;
$global-font-size:                               $base-font-size;
$h1-font-size:                                   calc( #{$base-font-size} * 1.5 + #{$scalefactor} );
$h2-font-size:                                   calc( #{$base-font-size} * 1 + #{$scalefactor} );
$h3-font-size:                                   calc( #{$base-font-size} * .8 + #{$scalefactor} );
$h4-font-size:                                   calc( #{$base-font-size} * .7 + #{$scalefactor} );
$h5-font-size:                                   $base-font-size * .8;
$h6-font-size:                                   $h5-font-size;

// MEDIA QUERIES
$breakpoint-l: 1680px;
$breakpoint-xl: 1920px;

// Checkboxes
$checkBoxRadioActiveColor: rgba(225, 225, 225, 0.4);
$checkBoxRadioColor: rgba(240,240,240,0.4);
$checkBoxBorderradius: .4em;