@use "./themes";
@use "./variables/shadows.scss" as shadows;

:root {
    --box-shadow-bevel: shadows.$bevelshadow;
    --border-radius: 10px;
    --border-radius-xl: 24px;
    --border-radius-xs: 5px;
}

@each $name, $map in themes.$themes {
    .theme-#{$name} {
        @each $key, $value in $map {
            --#{$key}: #{$value};
        }
    }
}
@each $name, $value in themes.$colors {
    body {
        --#{$name}: #{$value};
    }
}
