@use "./themes";

@each $name, $map in themes.$themes {
    .theme-#{$name} {
        @each $key, $value in $map {
            --#{$key}: #{$value};
        }
    }
}
@each $name, $value in themes.$colors {
    body {
        --#{$name}: #{$value};
    }
}
