@use "./variables/colors.scss" as colors;
@use "./variables/borders.scss" as borders;
@use "./variables/shadows.scss" as shadows;

$themes: (
    light: (
        "border-radius": borders.$borderradius-light,
        "border-radius-xl": borders.$borderradius-light * 4,
        "text": colors.$darkgray,
        "text-active": colors.$gray,
        "text-inactive": colors.$lightgray,
        "bg": colors.$background,
        "bg-light": colors.$background-lighter,
        "bg-dark": colors.$background-darker,
        "primary": colors.$primary,
        "primary-hover": colors.$primary-hover,
        "secondary": colors.$gray,
        "secondary-hover": colors.$primary,
        "muted": colors.$xlightgray,
        "train": colors.$primary,
        "train-hover": colors.$primary-hover,
        "train-active": colors.$primary-active,
        "train-muted": colors.$lightgray,
        "train-headline": colors.$primary-active,
        "train-details": colors.$primary-hover,
        "bike": colors.$veloroute,
        "bike-hover": colors.$veloroute-hover,
        "bike-active": colors.$veloroute-hover,
        "bike-inactive": colors.$lightgray,
        "bike-muted": colors.$veloroute-muted,
        "bike-details": colors.$veloroute,
        "primary-muted": colors.$primary-muted,
        "linklist-bg": colors.$xlightgray,
        "linklist-bg-active": white,
        "linklist-border-radius": none,
        "linklist": colors.$gray,
        "linklist-active": black,
        "label": colors.$gray,
        "label-active": colors.$primary,
        "label-inactive": colors.$lightgray,
        "label-bg": transparent,
        "label-active-bg": transparent,
        "input-border": transparent,
        "logo-color": colors.$darkgray,
        "button-bg": linear-gradient(
                180deg,
                colors.$background-lighter 0%,
                colors.$background-darker 100%
            ),
        "button-bg-hover": linear-gradient(
                180deg,
                colors.$background-darker 0%,
                colors.$xlightgray 70%
            ),
        "dropdown-bg": linear-gradient(
                0deg,
                colors.$background-darker,
                transparent
            ),
        "dropdown-bg-hover": linear-gradient(
                0deg,
                colors.$background-darker,
                transparent
            ),
        "dropdown-box-shadow": shadows.$boxshadow,
        "map-fill": colors.$background-lighter,
        "map-stroke": colors.$background-darker,
        "map-river": #cae4ef,
        "map-labels": colors.$background-darker,
        "map-sea": #dae7ea,
    ),
    dark: (
        "border-radius": borders.$borderradius-dark,
        "border-radius-xl": borders.$borderradius-dark,
        "text": colors.$gold,
        "text-active": colors.$gold-light,
        "text-inactive": colors.$brown-light,
        "bg": colors.$background-dark,
        "bg-light": colors.$brown,
        "bg-dark": colors.$dark-darker,
        "primary": colors.$gold-dark,
        "primary-hover": colors.$gold,
        "secondary": colors.$gold-light,
        "secondary-hover": colors.$gold-xlight,
        "muted": colors.$gray,
        "train": colors.$gold-dark,
        "train-hover": colors.$gold,
        "train-active": colors.$gold-dark,
        "train-muted": colors.$brown-light,
        "train-headline": colors.$gold-dark,
        "train-details": colors.$gold-dark,
        "bike": colors.$gold,
        "bike-hover": colors.$gold-light,
        "bike-active": colors.$gold-dark,
        "bike-inactive": colors.$brown-light,
        "bike-muted": colors.$brown-light,
        "bike-details": colors.$gold-light,
        "primary-muted": colors.$lightblue,
        "linklist-bg": colors.$dark-darker,
        "linklist-bg-active": colors.$gold,
        "linklist-border-radius": borders.$borderradius-dark,
        "linklist": colors.$gold-light,
        "linklist-active": white,
        "label": colors.$lightblue,
        "label-active": colors.$gold-light,
        "label-inactive": colors.$lightblue,
        "label-bg": colors.$dark-darker,
        "label-active-bg": colors.$xlightblue,
        "label-inactive-bg": colors.$lightblue,
        "input-border": colors.$dark-darker,
        "logo-color": colors.$gold,
        "button-bg": colors.$lightblue,
        "button-bg-hover": colors.$gold-dark,
        "dropdown-bg": colors.$lightblue,
        "dropdown-bg-hover": colors.$gold-dark,
        "dropdown-box-shadow": none,
        "map-fill": colors.$map-dark-bg,
        "map-stroke": colors.$background-dark,
        "map-river": colors.$background-dark,
        "map-labels": colors.$background-dark,
        "map-sea": transparent,
    ),
);
