// light theme
$background: #eaedf1;
$background-darker: #dadee3;
$background-lighter: #eff2f5;
$gray: #5a6367;
$veloroute: #007377;
$veloroute-hover: #0f4749;
$veloroute-muted: $gray;
$xlightgray: #f4f6f8;
$lightgray: #9ea9b0;
$darkgray: #2b2f32;
$primary: red;
$primary-hover: red;
$primary-active: #5c003d;
$primary-muted: rgb(194, 191, 195);
$primary-hover-muted: pink;

// dark theme
$brown: #382b08;
$brown-light: #4b3909;
$gold-dark: #be9b3b;
$gold: #c5b37b;
$gold-light: #efe6ca;
$gold-xlight: rgb(252, 250, 244);
$background-dark: #181f24;
$xlightblue: #65777f;
$lightblue: #2e3c46;
$dark-lighter: #2c3438;
$dark-darker: #13191c;
$map-dark-bg: #1f292f;
