// FONT SIZES
$scalefactor: 0.5vw;

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-display: "Oswald", sans-serif;
$global-font-family: $font-family-sans-serif;
$base-heading-font-family: $font-family-display;

$base-line-height: 1.5;

$base-font-size: 1em;
$global-font-size: $base-font-size;
$h1-font-size: calc(#{$base-font-size} * 1.5 + #{$scalefactor});
$h2-font-size: calc(#{$base-font-size} * 0.95 + #{$scalefactor});
$h3-font-size: calc(#{$base-font-size} * 0.8 + #{$scalefactor});
$h4-font-size: calc(#{$base-font-size} * 0.7 + #{$scalefactor});
$h5-font-size: $base-font-size * 0.8;
$h6-font-size: $h5-font-size;

$letterspacing: 0.03em;
