$boxshadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
$dropdownshadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
$button-boxshadow:
    -1px -1px 3px rgba(0, 0, 0, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.15),
    inset -1px -1px 1px white,
    1px 1px 3px white;
$button-boxshadow-inset:
    -10px -10px 20px white,
    inset 5px 5px 7px rgba(255, 255, 255, 0.75),
    inset -1px -1px 8px rgba(0, 0, 0, 0.05),
    10px 10px 10px rgba(0, 0, 0, 0.035),
    -1px -1px 1em rgba(0, 0, 0, 0.1);

/*
$boxshadow:
    inset -1px -1px 2px rgba(0, 0, 0, 0.15),
    1px 1px 0 rgba(255, 255, 255, 0.5),
    -1px -1px 1px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px rgba(255, 255, 255, 0.8),
    9px 9px 30px rgba(0, 0, 0, 0.05);
    */
