// SIZING
$scalefactor: 0.5vw;
$mainpadding: calc(#{$scalefactor} + 0.5em);
$padding-xxl: calc(#{$scalefactor} + 2.5em);
$padding-xl: calc(#{$scalefactor} + 1.5em);
$padding-l: calc(#{$scalefactor} + 1em);
$padding-m: $mainpadding;
$padding-s: calc(#{$scalefactor} + 0.25em);
$padding-xs: calc(#{$scalefactor} + 0.1em);
