@use "../scss/variables/spacing.scss" as spacing;

$breakpoint: 992px;
$breakpoint-max: 991px;
.wrapper {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    position: relative;
    height: 100%;
    gap: spacing.$padding-s;
    padding: spacing.$padding-s;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: 0 1fr;
    grid-template-rows: 1fr auto;
    gap: spacing.$mainpadding;
    @media screen and (min-width: $breakpoint) {
        grid-template-columns: 20em 1fr;
    }
}
.bottom {
    grid-column: span 2;
}
.main {
    grid-column: span 2;
    display: flex;
    min-height: 0;
}
.aside + .main {
    grid-column: 2;
    display: flex;
}
.aside {
    z-index: 10;
    @media screen and (max-width: $breakpoint-max) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    @media screen and (min-width: $breakpoint) {
        position: relative;
    }
    .closeButtonWrapper {
        position: absolute;
        right: 0;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 20;
        width: 1.5em;
        height: 4em;
        padding: 2px;
        &.open {
            height: 2em;
        }
        > * {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
    &.closed {
        left: calc(-100% + 1.5em);
        opacity: 1;
        height: 4em;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
    }
}
.navigation {
    display: flex;
    align-items: center;
    gap: spacing.$mainpadding;
    margin: 0 spacing.$padding-xl 0 spacing.$padding-s;
    a {
        color: var(--secondary);
        font-size: 0.9em;
        font-weight: bold;
        &:hover,
        &.active {
            text-decoration: none;
            color: var(--primary);
        }
    }
}
